.datePickerWrapper {
  border: 2px solid #1490a6;
}
.textAqua {
  color: #1490a6;
}
.btnAqua {
  background: #1490a6 !important;
}
.navLink {
  color: white !important;
  text-decoration: none;
  margin-left: 20px;
}
